<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action="/login" method="post">
        <label>Name</label>
        <input type="text" placeholder="Name" name="Username">
        <label>password</label>
        <input type="text" placeholder="password" name="Password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>